.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

* {
  padding: 0;
  margin: 0;
}

.searchNav {
  width: 100%;
  height: 100px;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.search {
  width: 400px;
  height: 30px;
  padding: 5px;
  border-radius: 20px;
}
.searchbtn {
  background-color: blue;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 92px;
  color: white;
  align-items: center;
}
